@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inclined {
  transform: skewX(-20deg);
  transform-origin: top right;

}

.inclined::after {
  transform: skew(-20deg);




}