@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inclined {
  transform: skew(-20deg);
  /* transform-origin: top right; */
  

}

.inclined::after {
  transform: skew(-20deg);




}